@tailwind base;
@tailwind components;
@tailwind utilities;

#image_plus_info {
  background-color: beige;
 
}
.rounded-green-bg {
    background-color: green;
    border-radius: 50%;
    overflow: hidden;
  }


  #image_plus_info {
    display: flex;
    align-items: center;
  }

 
  #contact-info {
    display: flex;
    align-items: center;
  
    flex-direction: column;
  }



#dv {
  display: flex;
}

.interest-item {
  margin-right: 300px; /* Ajustez la marge selon vos préférences */
}

h1 {
  color: rgb(6, 0, 128);
  font-size: 2rem;
  font-weight: bold; 
  margin-bottom: 1rem;
}

h3{
  
  font-weight: bold; 
  margin-bottom: 1rem;
}